﻿
.help-block {
    font-size: 12px !important ;
}



.agenda {

    border-radius: 10px !important;
}

.table .table-condensed .table-bordered { border-style: solid !important;  }
.agenda .agenda-date { width: 170px !important;   }
.agenda .agenda-date .dayofmonth {
    width: 40px !important;
    font-size: 36px !important;
    line-height: 36px !important;
    float: left !important;
    text-align: right !important;
    margin-right: 10px !important;


}
.agenda .agenda-date .shortdate {
    font-size: 0.75em !important;



}


/* Times */
.agenda .agenda-time { width: 140px !important;


}


/* Events */
.agenda .agenda-events {
}
.agenda .agenda-events .agenda-event {

}

@media (max-width: 767px) {

}










/*.jumbotron {*/
    /*text-align: center;*/
    /*width: 30rem;*/
    /*border-radius: 0.5rem;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*position: absolute;*/
    /*margin: 4rem auto;*/
    /*background-color: #fff;*/
    /*padding: 2rem;*/
/*}*/

.container .glyphicon-list-alt {
    font-size: 10rem;
    margin-top: 3rem;
    color: #f96145;
    margin: 0 auto 0 auto;
}

/*input {*/
    /*width: 100%;*/
    /*margin-bottom: 1.4rem;*/
    /*padding: 1rem;*/
    /*background-color: #ecf2f4;*/
    /*border-radius: 0.2rem;*/
    /*border: none;*/
/*}*/
/*h2 {*/
    /*margin-bottom: 3rem;*/
    /*font-weight: bold;*/
    /*color: #ababab;*/
/*}*/
/*.btn {*/
    /*border-radius: 0.2rem;*/
/*}*/
.btn .glyphicon {
    font-size: 3rem;
    color: #fff;
    margin: 0 auto 0 auto;
}
/*.full-width {*/
    /*background-color: #8eb5e2;*/
    /*width: 100%;*/
    /*-webkit-border-top-right-radius: 0;*/
    /*-webkit-border-bottom-right-radius: 0;*/
    /*-moz-border-radius-topright: 0;*/
    /*-moz-border-radius-bottomright: 0;*/
    /*border-top-right-radius: 0;*/
    /*border-bottom-right-radius: 0;*/
/*}*/

/*.box {*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*margin-bottom: 3rem;*/
    /*margin-left: 3rem;*/
    /*margin-right: 3rem;*/
/*}*/

#form1 {
    width: 350px;
}


#indeks1 {
    text-align: center;
}

#indeks2 {
    text-align: center;
}

