<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Zarzadzanie kategoriami</p>
<!--<p>{{getCategoryByIdApiTest.categoryId}}</p>-->
<p><a [routerLink]="['/addCategory']">Dodaj kategorię</a></p>
<table class="table">
    <thead>
    <tr class="info">
        <th>Nazwa kategorii</th>
        <th>Kolor</th>
        <th>Opis</th>
        <th></th>
    </tr>
    </thead>

    <tr class="info" *ngFor="let category of categories; let i = index">
        <td>{{category.name}}</td>
        <td>{{colors[category.color]}}</td>
        <td>{{category.description}}</td>

        <td><button type="button" class="btn btn-sm btn-primary" (click)="editCategory(category.categoryId)">Edytuj kategorię</button></td>
    </tr>
    <tbody>
    <tr></tr>
    </tbody>
</table>

</body>
</html>