﻿<!-- main app container -->
<!--<p><a [routerLink]="['/login']">Wyloguj</a></p>-->
<p><a [routerLink]="['/login']">Logout</a></p>
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">


</div>