<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a routerLink="/accountForm">Dodaj uzytkownika</a>

<h1>Filtr zadań</h1>
<form novalidate (ngSubmit)="onSubmit(taskFilter)" [formGroup]="taskFilter">
    <div class="form-group">
        <label>Nazwa zadania</label>
        <input type="text" placeholder="Proszę wpisać nazwę zadania" class="form-control" formControlName="name">
    </div>

    <div class="form-group">
        <label>Data rozpoczęcia zadania</label>
        <input type="datetime-local" placeholder="Proszę podać datę rozpoczęcia zadania" class="form-control" formControlName="startDate">
    </div>

    <div class="form-group">
        <label>Czas trwania zadania</label>
        <input type="number" placeholder="Proszę podać czas trwania zadania" class="form-control" formControlName="duration">
    </div>
    <div *ngIf="task.get('duration').hasError('minValue') && task.get('duration').touched" class="alert alert-danger" role="alert" >
        <strong>Błąd!</strong> Czas trwania musi być liczbą dodatnią
    </div>
    <div *ngIf="task.get('duration').hasError('maxValue') && task.get('duration').touched" class="alert alert-danger" role="alert" >
        <strong>Błąd!</strong> Czas trwania musi być liczbą mniejszą od 20
    </div>

    <div class="form-group">
        <select formControlName="status">
            <option *ngFor="let status of statuses" [ngValue]="status">{{status}}</option>
        </select>
    </div>

    <div class="form-group">
        <label>Opis zadania</label>
        <input type="text" placeholder="Proszę podać opis zadania" class="form-control" formControlName="description">
    </div>

    <button type="button" class="btn btn-sm btn-info" (click)="onSubmit()" [disabled]="task.invalid">Zarejestruj</button>
</form>

</body>
</html>