<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-xs-1">
        </div>

        <h1 class="col-xs-10 well">Formularz kategorii</h1>

        <div class="col-xs-1">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-10 well">

            <div class="col-sm-12">
                <p *ngIf="fail">Kategoria o tej nazwie już istnieje</p>
                <form novalidate (ngSubmit)="onSubmit()" [formGroup]="category">
                    <div class="form-group">
                        <label>Nazwa kategorii</label>
                        <input type="text" placeholder="Proszę wpisać nazwę kategorii" class="form-control" formControlName="name">
                    </div>
                    <div *ngIf="category.get('name').hasError('required') && category.get('name').touched" class="alert alert-danger" role="alert" >
                        <strong>Błąd!</strong> Nazwa kategori jest wymagana
                    </div>
                    <div *ngIf="category.get('name').hasError('maxlength') && category.get('name').touched" class="alert alert-danger" role="alert" >
                        <strong>Błąd!</strong> Nazwa kategori powinna mieć maksymalnie 30 znaków
                    </div>

                    <div class="form-group">
                        <label>Opis kategorii</label>
                        <input type="text" placeholder="Proszę podać opis kategorii" class="form-control" formControlName="description">
                    </div>

                    <div class="form-group">
                        <label>Kolor</label>
                        <select formControlName="color">
                            <option *ngFor="let color of colors" [ngValue]="color">{{color}}</option>
                        </select>
                    </div>

                    <button type="button" class="btn btn-sm btn-info" (click)="onSubmit()" [disabled]="category.invalid">Zarejestruj</button>
                </form>
            </div>

        </div>
        <div class="col-xs-1">
        </div>
    </div>
</div>

</body>
</html>