<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<!--<button type="button" (click)="goToLastWeek()">Poprzedni tydzień</button>-->
<!--<button type="button" (click)="goToNextWeek()">Następny tydzień</button>-->
<!--<div *ngIf="deleted">-->
<!--<p>Usunięto</p>-->
<!--</div>-->

<!--<div *ngIf="!deleteAlert">-->
<!--<p>{{date.toString()}}</p>-->

<!--<div *ngFor="let boardDay of taskBoard.boardDays">-->
<!--<p>Dzień {{boardDay.date.dayNumber}}</p>-->
<!--<p>Dzień {{boardDay.date.dayName}}</p>-->
<!--<p>Miesiąc {{boardDay.date.month}}</p>-->
<!--<p>Rok {{boardDay.date.year}}</p>-->
<!--<button type="button" (click)="addTask(boardDay.date)">Dodaj zadanie</button>-->

<!--<p>Tasks:</p>-->

<!--&lt;!&ndash;<p>{{boardDay.tasks | json}}</p>&ndash;&gt;-->

<!--<div *ngFor="let task of boardDay.tasks">-->
<!--<h3>{{task.name}}</h3>-->
<!--<p>{{task.duration}}</p>-->
<!--&lt;!&ndash;<p>{{(new Date(task.startDate)).getHours()}}:{{task.startDate.getMinutes()}}</p>&ndash;&gt;-->
<!--<p>{{task.startDate.getHours()}}:{{(task.startDate.getMinutes()<10?'0':'') +-->
<!--task.startDate.getMinutes()}}</p>-->
<!--<button type="button" (click)="openDeleteTaskAlert(task.id)">Usuń zadanie</button>-->
<!--<button type="button" (click)="editTask(task.id)">Edytuj zadanie</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->


<div>
    <p>{{date.toString()}}</p>

    <div *ngIf="webNotificationTasks?.length>0" class="alert alert-success">
        <div *ngFor="let webNotificationTask of webNotificationTasks">
            <h3><strong>Powiadomienie</strong></h3>
            <p>Nazwa zadania: {{webNotificationTask.name}}</p>
            <p>Czas trwania: {{webNotificationTask.duration}}</p>
            <p>Data rozpoczęcia zadania: {{webNotificationTask.startDate}}</p>
        </div>
    </div>

    <!--<p>{{webNotificationTasks}}</p>-->


    <div *ngFor="let boardDay of taskBoard.boardDays">
        <div class="agenda">
            <div class="table-responsive">
                <table class="table table-condensed table-bordered">
                    <thead>
                    <tr>
                        <th>Data</th>
                        <th>Godzina</th>
                        <th>Zadanie</th>
                        <th>Czas trwania</th>
                        <th>Status</th>
                        <th>Zarządzaj</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Single event in a single day -->
                    <tr>
                        <td class="agenda-date" class="active" rowspan="1">
                            <div class="dayofmonth">{{boardDay.date.dayNumber}}</div>
                            <div class="dayofweek">{{boardDay.date.dayName}}</div>
                            <div class="shortdate text-muted">{{boardDay.date.month}}, {{boardDay.date.year}}</div>
                            <button class="btn btn-primary" type="button" (click)="addTask(boardDay.date)">Dodaj
                                zadanie
                            </button>
                        </td>
                        <td class="agenda-time">
                            <div *ngFor="let task of boardDay.tasks">
                                {{task.startDate.getHours()}}:{{(task.startDate.getMinutes()<10?'0':'')
                                +task.startDate.getMinutes()}}
                            </div>
                        </td>
                        <td class="agenda-events">

                            <div *ngFor="let task of boardDay.tasks">

                                <div class="agenda-event"> {{task.name}}</div>

                            </div>

                        </td>


                        <td class="agenda-events">
                            <div *ngFor="let task of boardDay.tasks">
                                <div class="agenda-event">czas trwania {{task.duration}}</div>
                            </div>
                        </td>

                        <!--<td class="agenda-events">-->
                        <!--<div *ngFor="let task of boardDay.tasks">-->
                        <!--<div class="agenda-event">czas trwania {{task.status}} </div>-->
                        <!--</div>-->
                        <!--</td>-->

                        <td class="agenda-events">
                            <div *ngFor="let task of boardDay.tasks">

                                <div class="agenda-event" *ngIf="task.status == taskStatus.Complete"
                                     [ngStyle]="{'color': 'green'}">Gotowe
                                </div>
                                <div class="agenda-event" *ngIf="task.status == taskStatus.New"
                                     [ngStyle]="{'color': 'orange'}">Nowe
                                </div>
                                <div class="agenda-event" *ngIf="task.status == taskStatus.InProgress"
                                     [ngStyle]="{'color': 'blue'}">W realizacji
                                </div>
                            </div>
                        </td>

                        <td class="agenda-events">
                            <div *ngFor="let task of boardDay.tasks">
                                <div class="agenda-event">
                                    <button class="btn btn-primary btn-xs" type="button"
                                            (click)="openDeleteTaskAlert(task.id)" data-toggle="modal"
                                            data-target="#myModal">Usuń zadanie
                                    </button>
                                    <button class="btn btn-primary btn-xs" type="button" (click)="editTask(task.id)">
                                        Edytuj zadanie
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


<!--<div *ngIf="deleteAlert">-->
<!--<p>Czy usunąć zadanie?</p>-->
<!--<button type="button" (click)="deleteTask()">Usuń zadanie</button>-->
<!--<button type="button" (click)="deleteAlert=false;">Anuluj</button>-->
<!--</div>-->


<div *ngIf="deleteAlert">
    <div class="container">

        <!-- Trigger the modal with a button -->
        <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Usuń zadanie</button>-->

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" (click)="deleteAlert=false;">&times;
                        </button>
                        <h4 class="modal-title">Czy chcesz na pewno usunąć?</h4>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="deleteTask()">Usuń
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>