<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-xs-1">
        </div>

        <h1 class="col-xs-10 well">Rejestracja użytkownika</h1>

        <div class="col-xs-1">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-10 well">

            <!--<a routerLink="/accountManagement">Zarządzanie kontami</a>-->

            <div class="col-sm-12">
                <p *ngIf="success && formNature===formNatureEnum.Add">Pomyślnie dodano użytkownika</p>
                <p *ngIf="success && formNature===formNatureEnum.Edit">Pomyślnie zmieniono użytkownika</p>

                <p *ngIf="fail && formNature===formNatureEnum.Add">Dodawanie użytkownika zakończone niepowodzeniem</p>
                <p *ngIf="fail && formNature===formNatureEnum.Edit">Edytowanie użytkownika zakończone niepowodzeniem</p>
                <form novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">
                    <div class="form-group">
                        <label>Login</label>
                        <input type="text" placeholder="Proszę wpisać login" class="form-control" formControlName="username">
                    </div>
                    <div *ngIf="user.get('username').hasError('required') && user.get('username').touched" class="alert alert-danger" role="alert" >
                        <strong>Błąd!</strong> Login jest wymagany
                    </div>

                    <div *ngIf="user.get('username').hasError('minlength') && user.get('username').touched" class="alert alert-danger" role="alert" >
                        <strong>Błąd!</strong> Login powinien mieć minimalnie 5 znaków
                    </div>

                    <div *ngIf="user.get('username').hasError('maxlength') && user.get('username').touched" class="alert alert-danger" role="alert" >
                        <strong>Błąd!</strong> Login powinien mieć maksymalnie 30 znaków
                    </div>

                    <div class="form-group">
                        <label>E-mail</label>
                        <input type="email" placeholder="Proszę podać adres e-mail" class="form-control" formControlName="eMail">
                    </div>
                    <div *ngIf="user.get('eMail').hasError('pattern') && user.get('username').touched" class="alert alert-danger" role="alert">
                        <strong>Błąd!</strong> Podany adres e-mail jest niepoprawny.
                    </div>

                    <div class="form-group" *ngIf="formNature === formNatureEnum.Edit">
                        <!--<select formControlName="role">-->
                            <!--<option *ngFor="let role of roles()" [ngValue]="role">{{role}}</option>-->
                        <!--</select>-->

                        <select formControlName="role">
                            <option *ngFor="let role of roles" [ngValue]="role">{{role}}</option>
                            <!--<option [ngValue]="role">administrator</option>-->
                            <!--<option [ngValue]="role">użytkownik</option>-->
                        </select>
                    </div>


                    <div formGroupName="passwords">

                        <div class="form-group">
                            <label>Hasło</label>
                            <input type="password" placeholder="Proszę podać hasło" class="form-control" formControlName="password">
                        </div>

                        <div *ngIf="user.get('passwords').get('password').hasError('required') && user.get('passwords').get('password').touched" class="alert alert-danger" role="alert">
                            <strong>Błąd!</strong> Proszę wpisać hasło
                        </div>

                        <div *ngIf="user.get('passwords').get('password').hasError('minlength') && user.get('passwords').get('password').touched" class="alert alert-danger" role="alert">
                            <strong>Błąd!</strong> Hasło powinno mieć minialnie 5 znaków
                        </div>

                        <div *ngIf="user.get('passwords').get('password').hasError('maxlength') && user.get('passwords').get('password').touched" class="alert alert-danger" role="alert">
                            <strong>Błąd!</strong> Hasło powinno mieć maksymalnie 30 znaków
                        </div>

                        <div class="form-group">
                            <label>Potwierdzenie hasła</label>
                            <input type="password" placeholder="Proszę potwierdzić hasło" class="form-control" formControlName="passwordConfirm">
                        </div>

                        <div *ngIf="user.get('passwords').get('passwordConfirm').hasError('required') && user.get('passwords').get('passwordConfirm').touched" class="alert alert-danger" role="alert">
                            <strong>Błąd!</strong> Proszę wpisać hasło
                        </div>

                        <div *ngIf="user.get('passwords').get('passwordConfirm').hasError('minlength') && user.get('passwords').get('passwordConfirm').touched" class="alert alert-danger" role="alert">
                            <strong>Błąd!</strong> Hasło powinno mieć minialnie 5 znaków
                        </div>

                        <div *ngIf="user.get('passwords').get('passwordConfirm').hasError('maxlength') && user.get('passwords').get('passwordConfirm').touched" class="alert alert-danger" role="alert">
                            <strong>Błąd!</strong> Hasło powinno mieć maksymalnie 30 znaków
                        </div>

                        <div *ngIf="user.get('passwords').touched && user.get('passwords').hasError('nomatch')" class="alert alert-danger" role="alert">
                            Hasła muszą być takie same
                        </div>

                    </div>
                    <!--<div class="alert alert-danger" role="alert" *ngIf="registerForm.controls.passwordConfirm.errors['notTheSameValues']">-->
                    <!--<strong>Błąd!</strong> Podane hasła różnią się.-->
                    <!--</div>-->

                    <!--<p>{{JSON.stringify( registerForm.controls.password.errors)}}</p>-->

                    <!--<button type="button" class="btn btn-sm btn-info">Zarejestruj</button>-->
                    <button type="button" class="btn btn-sm btn-info" (click)="onSubmit()" [disabled]="user.invalid">Zarejestruj</button>
                </form>
            </div>

        </div>
        <div class="col-xs-1">
        </div>
    </div>
</div>

</body>
</html>