<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col-xs-1">
        </div>

        <h1 class="col-xs-10 well">Formularz zadania</h1>

        <div class="col-xs-1">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-10 well">


            <a routerLink="/userHome">Strona główna użytkownika</a>

            <div class="col-sm-12">
                <p *ngIf="fail">Dodawanie zadania zakończone niepowodzeniem</p>
                <form novalidate (ngSubmit)="onSubmit(task)" [formGroup]="task">
                    <div class="form-group">
                        <label>Nazwa zadania</label>
                        <input type="text" placeholder="Proszę wpisać nazwę zadania" class="form-control" formControlName="name">
                    </div>
                    <div *ngIf="task.get('name').hasError('required') && task.get('name').touched" class="alert alert-danger" role="alert" >
                        <strong>Błąd!</strong> Nazwa zadania jest wymagana
                    </div>

                    <div *ngIf="task.get('name').hasError('minlength') && task.get('name').touched" class="alert alert-danger" role="alert" >
                        <strong>Błąd!</strong> Nazwa zadania powinna mieć minimalnie 5 znaków
                    </div>

                    <div *ngIf="task.get('name').hasError('maxlength') && task.get('name').touched" class="alert alert-danger" role="alert" >
                        <strong>Błąd!</strong> Nazwa zadania powinna mieć maksymalnie 30 znaków
                    </div>

                    <div class="form-group">
                        <select formControlName="categoryId">
                            <option *ngFor="let category of categories" [ngValue]="category.categoryId">{{category.name}}</option>
                        </select>
                    </div>
                    <div *ngIf="task.get('categoryId').hasError('required') && task.get('categoryId').touched" class="alert alert-danger" role="alert" >
                        <strong>Błąd!</strong> Kategoria zadania jest wymagana
                    </div>

                    <div class="form-group">
                        <label>Data rozpoczęcia zadania</label>
                        <input type="datetime-local" placeholder="Proszę podać datę rozpoczęcia zadania" class="form-control" formControlName="startDate">
                    </div>

                    <div class="form-group">
                        <label>Czas trwania zadania</label>
                        <input type="number" placeholder="Proszę podać czas trwania zadania" class="form-control" formControlName="duration">
                    </div>
                    <div *ngIf="task.get('duration').hasError('minValue') && task.get('duration').touched" class="alert alert-danger" role="alert" >
                        <strong>Błąd!</strong> Czas trwania musi być liczbą dodatnią
                    </div>
                    <div *ngIf="task.get('duration').hasError('maxValue') && task.get('duration').touched" class="alert alert-danger" role="alert" >
                        <strong>Błąd!</strong> Czas trwania musi być liczbą mniejszą od 20
                    </div>

                    <div class="form-group">
                        <select formControlName="status">
                            <option *ngFor="let status of statuses" [ngValue]="status">{{status}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Opis zadania</label>
                        <input type="text" placeholder="Proszę podać opis zadania" class="form-control" formControlName="description">
                    </div>

                    <h2>Powiadomienia</h2>

                    <div class="form-group">
                        <label>Data powiadomienia na stronie głownej użytkownika</label>
                        <input type="datetime-local" placeholder="Proszę podać datę powiadomienia" class="form-control" formControlName="webNotificationDate">
                    </div>

                    <div class="form-group">
                        <label>Data powiadomienia poczta e-mail</label>
                        <input type="datetime-local" placeholder="Proszę podać datę powiadomienia" class="form-control" formControlName="eMailNotificationDate">
                    </div>

                    <button type="button" class="btn btn-sm btn-info" (click)="onSubmit()" [disabled]="task.invalid">Zarejestruj</button>
                </form>
            </div>

        </div>
        <div class="col-xs-1">
        </div>
    </div>
</div>

</body>
</html>