﻿<div class="col-md-6 col-md-offset-3">
    <h1>Home</h1>
    <p>You're logged in with JWT!!</p>
    <div>
        Users from secure api end point:
        <!--<p>{{users | json }}</p>-->
        <ul>
            <li *ngFor="let user of users">{{user.username}} {{user.role}}</li>
        </ul>


        <a routerLink="/accountManagement">Account management</a>
    </div>
    <p><a [routerLink]="['/categoryManagement']">Zarządzanie kategoriami</a></p>
    <p><a [routerLink]="['/login']">Logout</a></p>
</div>