<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>






<p class="alert alert-dismissable alert-success" *ngIf="deleted">Usunięto użytkownika</p>
<table class="table">
    <thead>
    <tr class="info">
        <th>Nazwa użytkownika</th>
        <th>E-mail</th>
        <th>Uprawnienia</th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tr class="info" *ngFor="let user of users; let i = index">
        <td>{{user.username}}</td>
        <td>{{user.eMail}}</td>

        <td *ngIf="user.role === roleEnum.Admin">administrator</td>
        <td *ngIf="user.role === roleEnum.User">użytkownik</td>

        <td><button type="button" class="btn btn-danger btn-sm" (click)="deleteUser(user.username, i)">Usuń użytkownika</button></td>
        <td><button type="button" class="btn btn-sm btn-primary" (click)="editUser(user.username, i)">Edytuj użytkownika</button></td>
    </tr>
    <tbody>
    <tr></tr>
    </tbody>
</table>
</body>
</html>